.btn-primary {
	background-color: #f82249;
	border: 1px solid #c61b3a;
}

.btn-primary:hover {
	background-color: #c61b3a;
	border: 1px solid #c61b3a;
}

.gray-box {
	background-color: #EAEAEA;
	padding: 24px;
	border-radius: 8px;
	border-bottom: 2px solid #cdcdcd;
}